div.main {
	position: relative;
	width: 819px;
	margin-left: auto;
	margin-right: auto;
}

div.menu {
	position: absolute;
	width: 20%;
	margin-left: 0px;
	margin-top: 0px;
	/*margin-right: auto;*/
}

div.body {
	position: absolute;
	width: 80%;
	margin-right: 0px;
	margin-top: 0px;
	margin-left: 20%;
}